#main {margin-top:0px;}
#main .wp{width:100%;display: flex;justify-content: center;align-items:center;}
    .tabs{display:flex;width:250px;margin:20px auto;}
    .tabs li{margin-right:35px;}
    .tabs a{color: rgba(255, 255, 255, 0.65);font-size:1.2rem;}
    .tabs li.active a{color: #fff;}
    .tab_content{display:flex;flex-direction: column; justify-content: center;align-items: center;}
.upload{width:350px;margin:0 auto;border-radius:20px;position:relative;
background-image: -webkit-gradient(linear, left bottom, right top, from(#62abe0), to(#72d3c4));
background-image: -webkit-linear-gradient(40deg, #62abe0, #72d3c4);
background-image: -moz-linear-gradient(40deg, #62abe0, #72d3c4);
background-image: -o-linear-gradient(40deg, #62abe0, #72d3c4);
background-image: -ms-linear-gradient(40deg, #62abe0, #72d3c4);
background-image: linear-gradient(40deg, #62abe0, #72d3c4);
box-shadow: 1px 0 3px 1px #eee;display: flex;flex-direction: column;justify-content: center;align-items:center;}
.upload_lable{display: flex;justify-content: center;align-items: center;border-radius:10px;border:1px dashed #fff;
    font-size:1rem;font-weight:400;width:250px;height:250px;
cursor: pointer;text-align: center;color: #fff;margin-bottom:5px;position: relative;}
.upload_text,.upload_text2{background-color:transparent;color: #555;width:80%;min-height:40px;margin:30px auto 0;text-align: center;}
#upload_input,#upload_input2{opacity:0;position:absolute;left: 0;top: 0;width:250px;height:250px;}
    .ps{width:100%;margin-bottom:10px;align-items: flex-start;color:rgba(255, 255, 255, 0.81);font-size:13px;}
.uploadbtn{border-radius:10px;background-color:#fff;color:#5dbfc7;font-size:1rem;font-weight:400;width:150px;height:50px;line-height:50px;
margin:20px auto;border:0;box-shadow:1px 1px 2px 1px #eee;cursor: pointer;text-align: center;}
 @media(max-width:414px){
     h2{margin-top: 0;}
     header .wp{background-color: transparent;box-shadow:1px 1px 2px 1px #eee;}
     .upload{box-shadow: none;background-image: none;margin-top: 50px;}
     #upload_input,#upload_input2,.upload_lable{width:300px;height:300px;}
     body{
         background-image: -webkit-gradient(linear, left bottom, right top, from(#62abe0), to(#72d3c4));
         background-image: -webkit-linear-gradient(40deg, #62abe0, #72d3c4);
         background-image: -moz-linear-gradient(40deg, #62abe0, #72d3c4);
         background-image: -o-linear-gradient(40deg, #62abe0, #72d3c4);
         background-image: -ms-linear-gradient(40deg, #62abe0, #72d3c4);
         background-image: linear-gradient(40deg, #62abe0, #72d3c4);}
    }    
@media(max-width:375px){
    h2{font-size:1.2rem;margin-top: 50px;}
    .upload{margin-top: 0;}
    #upload_input,#upload_input2,.upload_lable{width: 240px;height:210px;}
}  
@media(max-width:320px){
    h2{margin-top:80px;}
}